/* .item a {
    color: black;
}

a.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(77, 102, 214, 0.3);
}

a.active:before {
    content: '>';
    font-size: 20px;
    margin-right: 10px;
} */
/* 
._side{
    background-color: rgba(91, 109, 190, 0.3);
} */

/* .content {
    width: 90%;
}

.trim {
    
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
} */