<div class="_header"> 

  <h2 class="ui header ">
      <i class="settings icon"></i>
      <div class="content ">
        Account Settings
        <div class="sub header">Manage your preferences</div>
        
      </div>
    </h2>

</div>





<div class="ui pointing vertical menu _sidebar">
  <a class="item ">
    Génerale
  </a>
  <div class="item">
    <b>Numero de Télephone : </b>
    <div class="menu" *ngFor="let number of numbers"> 
      <a class="item">{{number.number}}</a>
    </div>

      <div class="ui dropdown">
        <div class="text">Shop</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Categories</div>
          <div class="item">Clothing</div>
          <div class="item">Home Goods</div>
          <div class="item">Bedroom</div>
          <div class="divider"></div>
          <div class="header">Order</div>
          <div class="item">Status</div>
          <div class="item">Cancellations</div>
        </div>
      
</div>
