
  <div class ="ui grid stackable">
    
    <div class="five wide column">
      
      
      <h3>Numéro : </h3>
      
      <app-sid-num-list></app-sid-num-list>
      
      
    </div>
    
    
    
    
    <div class="eleven wide column">
      
      <router-outlet>

        
      </router-outlet>
      <!-- <div>
        <div class="ui top attached tabular menu">
          <a class="active item" routerLink="./num" routerLinkActive="active" >Informations Génerale</a>
          <a class="item" [routerLink]="['./','num','gestion']" routerLinkActive="active" >Gestions de l'accueil</a>
        </div>
        <div class="ui bottom attached segment">
         
        </div>
      </div> -->
      
    
  </div>

</div>

